<div class="inventory-container">
  <h1>{{title}}</h1>

  <ul class="vehicle-grid">
    {{#each list}}
      <li class="vehicle-card">
        <a href="/inventory/detail/{{this.inv_id}}">
          <img src="{{this.inv_thumbnail}}" alt="{{this.inv_make}} {{this.inv_model}}">
        </a>

        <div class="vehicle-info">
          <h2>{{this.inv_year}} {{this.inv_make}} {{this.inv_model}}</h2>
          <p class="price">${{this.inv_price}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
</div>